<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/basic.html}">
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
</style>
<!-- Custom styles for this template -->
<link href="/css/carousel.css" rel="stylesheet">
<div layout:fragment="content">
    <hr class="featurette-divider">
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-6 order-md-3" id="galleryInfo">
            </div>
            <div class="col-md-5 order-md-2" id="galleryImage">
            </div>
        </div>
        <div class="my-2" id="editBtn">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row mt-3" th:insert="~{/fragment/boardListFragment::boardList()}">
    </div>
    <div class="col-md-1 my-5">
        <form action="/gallery/board/write" id="writeForm">
            <button type=submit class="btn btn-primary writeBtn">Write Board</button>
        </form>
    </div>
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="file" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/js/member.js"></script>
    <script defer src="/js/gallery.js"></script>
    <script defer src="/js/board.js"></script>
</div>
<script layout:fragment="script">
    const url = new URL(location.href).searchParams
    const id = url.get("id")
    const modal = new bootstrap.Modal(document.querySelector(".modal"))
    const galleryImage = document.getElementById("galleryImage")
    const editBtn = document.getElementById("editBtn")
    const galleryInfo = document.getElementById("galleryInfo")
    getGallery(id).then(gallery => {
        if(gallery.errorCode) notExistPage()
        galleryInfo.innerHTML += `<h2 class="featurette-heading lh-0 my-5"><span class="text-body-secondary">Hello! This is Gallery</span> ${gallery.title} </h2>
    <h3 class="featurette-heading lh-0 my-5"><span
        class="text-body-secondary">Manager: </span>${gallery.creatorUsername} </h3>`
        for(const line of gallery.explanation.split('\n')) galleryInfo.innerHTML += `<p class="lead">${line}</p>`
        if(gallery.galleryImageName) {
            galleryImage.innerHTML += `<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" role="img"
            aria-label="Placeholder: 500x500" src="/images/${gallery.galleryImageName}" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/></img>`
        } else {
            galleryImage.innerHTML += `<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" role="img"
                     aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/></img>`
        }
        isSameUser(gallery.creatorUsername).then(data => {
            if(data) {
                editBtn.innerHTML += `<button type="button" class="btn btn-info editGalleryBtn">Edit Gallery</button>`
                if(document.querySelector(".editGalleryBtn") != null) {
                    document.querySelector(".editGalleryBtn").addEventListener("click", function(e) {
                        self.location = '/gallery/edit?id=' + id
                    })
                }
            }
        })
    })
    document.getElementById("writeForm").innerHTML += `<input type="hidden" name="id" value="${id}">`
    document.querySelector(".closeUploadBtn").addEventListener("click", function(e) {
        modal.hide()
    })
</script>